{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-lg-4 col-6">
          <h1>Cart Shift</h1>
      </div>
      {% if vacancy and on_shift|length == 0 %}
      <div class="col-lg-4 col-6 text-end">
          <form action="/profile/{{ user.username }}/cart_shift/{{ shift_id }}/" method="post">
            {% csrf_token %}
            <button class="btn btn-success add-invite" type="submit"><i class="bi bi-plus-circle"></i> Join Cart Shift</button>
          </form>
      </div>
      {% endif %}
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'userview' user.username %}">User View</a>
        </li>
        <li class="breadcrumb-item active">Cart Shift</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section post">
    <div class="row">
      <div class="col-xl-8">
        <!-- Card with header and footer -->
        <div class="card mt-3">
          <div class="card-body mt-4">
            <p><b>Day:</b> {{ shift.Schedule.date }}</p>
            <p><b>Location:</b> {{ shift.Location.name }}</p>
            <p><b>Time Range:</b> {{ shift.Schedule.start }} - {{ shift.Schedule.end }}</p>
            {% if shift.Keyman.first_name %}
            <p><b>Keyman:</b> {{ shift.Keyman.first_name }} {{ shift.Keyman.last_name }}</p>
            {% else %}
            <p><b>Keyman:</b> -</p>
            {% endif %}
            {% if shift.Keyman.phone %}
            <p><b>Keyman Phone:</b> <a href="tel:{{ shift.Keyman.phone }}">{{ shift.Keyman.phone }}</a></p>
            {% else %}
            <p><b>Keyman Phone:</b> -</p>
            {% endif %}
            <p><b>Slots Filled:</b> {{ shift.ScheduledPublisher|length }}/{{ shift.Schedule.slots }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}