{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Do Not Call</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item">Add Do Not Call</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section edit-regular-day">
    <div class="row">
      <div class="col-xl-8">
        <!-- Card with header and footer -->
        <div class="card mt-3 mb-2">
          <div class="card-body">
            <form
              class="row g-3 mt-1"
              action="/service/territories/{{ territory.territory_id }}/do_not_call/add/"
              method="post"
              id="add-congregation-territory"
            >
              {% csrf_token %}
              {% for field in form %}
                {{ field }}
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  <i class="bi bi-plus-circle"></i> Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}