{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-lg-4 col-6">
          <h1>Calls</h1>
      </div>
      <div class="col-lg-4 col-6 text-end">
          <a href="#" class="btn btn-primary add-invite"><i class="bi bi-plus-circle"></i> Add Call</a>
      </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Calls</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        {% for call in calls %}
        <div class="row">
            <!-- Sales Card -->
            <div class="col">
                <div class="card info-card invite-card">
                <div class="card-body invite-card-body">
                    <div class="d-flex align-items-center">
                    <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    >
                    <i class="bi bi-person-fill"></i>
                    </div>
                    <div class="ps-3">
                        <h6><a href="#" class="call-name">{{ call.name }}</a></h6>
                    </div>
                    <form class="delete-regular-day-form" action="{% url 'delete_call' call.call_id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm delete-invite-button" type="submit"><i class="bi bi-trash"></i></button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- End Sales Card -->
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>

{% endblock %}