{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-lg-4 col-6">
        <h1>{{ call.name }}</h1>
      </div>
      <div class="col-lg-4 col-6 text-end">
        <a
          href="#"
          class="btn btn-success"
          ><i class="bi bi-arrow-left-right"></i> Transfer Call</a
        >
      </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'calls' %}">Calls</a>
        </li>
        <li class="breadcrumb-item active">Call</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Call Details
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#posts"
                >
                  Return Visits
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#schedule"
                >
                  Edit Call Details
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >

                <h5 class="card-title">Call Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Name: </div>
                  <div class="col-lg-9 col-md-8">
                    {{ call.name }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Gender: </div>
                  <div class="col-lg-9 col-md-8">{{ call.get_gender_display }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Age: </div>
                  {% if call.age %}
                  <div class="col-lg-9 col-md-8">{{ call.age }}</div>
                  {% else %}
                  <div class="col-lg-9 col-md-8">None</div>
                  {% endif %}
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address: </div>
                  {% if call.address %}
                  <div class="col-lg-9 col-md-8">{{ call.address }}</div>
                  {% else %}
                  <div class="col-lg-9 col-md-8">None</div>
                  {% endif %}
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Initial Contact Date: </div>
                  <div class="col-lg-9 col-md-8">{{ call.contact_date }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Notes: </div>
                  {% if call.notes %}
                  <div class="col-lg-9 col-md-8">{{ call.notes }}</div>
                  {% else %}
                  <div class="col-lg-9 col-md-8">None</div>
                  {% endif %}
                </div>
              </div>
              <div class="tab-pane fade" id="posts">
                {% for visit in return_visits %}
                <!-- Card with header and footer -->
                <div class="card mt-3">
                  <div class="card-header">
                    {{ visit.contact_date }}
                  </div>
                  <div class="card-body mt-3">{{ visit.notes }}</div>
                  </a>
                </div>
                <!-- End Card with header and footer -->
                {% endfor %}
              </div>
              <div class="tab-pane fade pt-3" id="schedule">
                <!-- Profile Edit Form -->
                <form action="{% url 'call' call.call_id %}" method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div class="row mb-3">
                    <label for="{{ field.name }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                    <div class="col-md-8 col-lg-9">
                    {{ field }}
                    </div>
                </div>
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save Changes</button>
                </div>
                </form><!-- End Profile Edit Form -->
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}