{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col-lg-4 col-6">
        <h1>Do Not Call</h1>
      </div>
    </div>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Do Not Call</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section post">
    <div class="row">
      <div class="col-xl-8">
        <!-- Card with header and footer -->
        <div class="card mt-3">
          <div class="card-body mt-4">
            <p><b>Address:</b> {{ do_not_call.address }}</p>
            <p><b>Territory:</b> {{ do_not_call.territory }}</p>
            <p><b>Notes:</b> {{ do_not_call.notes }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}