{% extends "base.html" %} {% load static %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
        <h1>Add Service Meeting</h1>
    </div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'service_meetings' %}">Service Meetings</a>
        </li>
        <li class="breadcrumb-item active">Add Service Meeting</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section add-service-group">
    <div class="row">
      <div class="col-xl-8">
        <!-- Card with header and footer -->
        <div class="card mt-3 mb-2">
          <div class="card-body">
            <form
              class="row g-3 mt-1"
              action="/congregation/add_service_meeting/"
              method="post"
              id="add-service-meeting-form"
            >
              {% csrf_token %}
              <select
                required
                class="form-select"
                form="add-service-meeting-form"
                name="day"
              >
                <option value="1" selected>Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
              </select>
              <input
                required
                type="time"
                form="add-service-meeting-form"
                name="time"
                class="form-control"
              />
              <select
                class="form-select"
                form="add-service-meeting-form"
                name="service-group"
              >
                <option selected value> -- </option>
                {% for group in service_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
              </select>
              <input
                type="text"
                form="add-service-meeting-form"
                name="service-location"
                class="form-control address"
                placeholder="Service Location"
              />
              <input
                type="text"
                form="add-service-meeting-form"
                name="zoom-id"
                class="form-control"
                placeholder="Zoom ID"
              />
              <input
                type="text"
                form="add-service-meeting-form"
                name="zoom-password"
                class="form-control"
                placeholder="Zoom Password"
              />
              <div class="text-center">
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}